.container {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
}

.container {
    position: fixed;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    inset: 0;
    text-align: right;
    padding: 0 1em;
}

.container .logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1em;
}

.localeSwitcher {
    margin-left: 2em;
}

.container .menuLinks {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 8px;
    list-style: none;
}

.container .menuLinks li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 2em;
    font-size: 1.5em;
}

.container .menuLinks li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fefefc;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.5s;
    display: block;
}

.container .menuLinks li:hover::after {
    width: 100%;
}

.container .menuLinks li a {
    color: inherit;
}