.navbar {
    background-color: var(--navbar-bg-color);
    color: var(--second-text-color);
    position: fixed;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    inset: 0;
    text-align: right;
    padding: 0 1em;
}

.navbar .navbarLeftSide {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1em;
}

.navbarToggle {
    display: none;
}

.navbarIcon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbarLinks {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 8px;
    list-style: none;
}

.navbarLinks a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 2em;
    font-size: 1.5em;
}

.navbar .navbarLinks li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--second-text-color);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.5s;
    display: block;
}

.navbar .navbarLinks li a:hover::after {
    width: 100%;
}

.navbar .navbarLinks li a {
    color: inherit;
}

.localeSwitcher {
    margin-left: 2em;
}

.localeSwitcherMobile {
    display: none;
}

.navbar .themeToggle {
    margin-right: 1em;
}

.themeToggleMobile {
    display: none;
}

.navbarLeftSide span {
    color: var(--second-text-color);
}

@media (max-width: 980px) {
    .navbar {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbarIcon {
        display: block;
    }

    .navbarToggle:checked~.navbarLinksContainer {
        display: block;
        margin-top: 5em;
    }

    .navbarLinksList {
        margin-left: 3em;
    }

    .navbarLinksContainer {
        background-color: var(--navbar-mobile-bg-color);
        position: fixed;
        width: 40%;
        height: 100%;
        top: 0;
        right: 0;
        flex-direction: column;
        transition: transform 0.3s ease-in-out;
    }

    .navbarLinksContainer .localeSwitcherMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 2em 0 5em 2em;
    }

    .navbarLinksContainer .themeToggleMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 3em 0;
    }

    .navbarLinks {
        padding-top: 1em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .localeSwitcher {
        display: none;
    }

    .themeToggle {
        display: none;
    }

    .localeSwitcherMobile {
        display: flex;
    }

    .themeToggleMobile {
        display: flex;
    }

    .navbarLinksContainer {
        display: none;
    }

    .navbar .navbarLinks .localeSwitcherMobile li a:hover::after {
        width: 0%;
    }
}