.localeSwitcher {
    display: flex;
    align-items: center;
}

.grayscale {
    filter: grayscale(100%);
}

.localeSwitcher li {
    margin-right: 0.5rem;
}

@media (max-width: 980px) {
    .localeSwitcher li {
        margin-right: -30px;
    }
}