.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articles h1 {
    font-family: 'Arial', Helvetica, sans-serif;
    color: red;
}

.postContent {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
.articles {
    background-color: red;
}

.articles li {
    background-color: blue;
}