.article {
    margin: 6em auto;
    font-family: 'Roboto', sans-serif;
    max-width: 90vh;
    padding: 4em 4em;
    background-color: var(--card-bg-color);
    border-radius: 5px;
    box-shadow: 0 0 1px #ccc;
}

.article h1 {
    font-family: 'Roboto', sans-serif;
}

.article h2 {
    font-family: 'Roboto', sans-serif;
}