.articles ul {
    margin: 6em auto;
    list-style: none;
    padding: 0;
    max-width: 90vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--primary-text-color);
}

.articles li {
    margin: 0;
    padding: 1em;
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    background-color: var(--card-bg-color);
    color: var(--primary-text-color);
    box-shadow: 0 4px 8px var(--card-box-shadow-color);
    max-width: 300px;
    width: 100%;
    flex-basis: calc(33.33% - 20px);
    flex-grow: 1;
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.articles li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--card-box-shadow-color);
}

.articles a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

.articles a:hover {
    text-decoration: underline;
}

.articles img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.articles h2 {
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-text-color);
    line-height: 1.4;
}

.articles p {
    font-size: 0.9em;
    color: var(--secondary-text-color);
}

.date {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

@media (max-width: 980px) {
    .articles ul {
        flex-direction: column;
        gap: 20px;
        display: flex;
        justify-content: center;
    }

    .articles li {
        flex-basis: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}