@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;500;700&display=swap');

* {
  box-sizing: border-box;
  border: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

body.light {
  background-color: #f8f9fa;
  padding: 2em;
  color: #161616;
  --navbar-bg-color: #b9b9b9;
  --navbar-text-color: #161616;
  --blink-color: #f8f9fa;
  --devicon-color: #161616;
  --scrollbar-thumb-color: #ababab;
  --scrollbar-thumb-hover-color: #dfdfdf;
  --scrollbar-track-color: #eeeeee;
  --social-link-color: #161616;
  --navbar-mobile-bg-color: #e5e5e5;
}

body.dark {
  background-color: #161616;
  padding: 2em;
  color: #fefefc;
  --navbar-bg-color: #070707;
  --navbar-text-color: #b9b9b9;
  --blink-color: #fefefc;
  --devicon-color: #b9b9b9;
  --scrollbar-thumb-color: #767676;
  --scrollbar-thumb-hover-color: #444444;
  --scrollbar-track-color: #010101;
  --social-link-color: #fefefc;
  --navbar-mobile-bg-color: #101010;
}

body.dark h2 {
  color: #b9b9b9;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

h1 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .1rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Orbitron', sans-serif;
}

@media (max-width: 980px) {
  main {
    max-width: 100%;
  }
}

.techStack {
  max-width: fit-content;
}